.body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 100%;
    height: 100vh;
    background: cornflowerblue;
    position: relative;
}
.menu{
    width: 100%;
    height: 50px;
    background: blue;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.block2{
    width: 100%;
    height: 500px;
    background: yellow;
}
.block3{
    width: 100%;
    height: 150px;
    background: black;
    display: flex;
    justify-content:center;
    align-items:center;
    column-gap: 20px;
    position: relative;
}
.left__menu{
    width: 50px;
    height: 30px;
    background: white;
    margin-left:30px;
}
.right{
    width: 150px;
    height: 30px;
    background: darkred;
    margin-right: 30px;
    display: flex;
    justify-content:space-around;
    align-items:center;

 }
.icon{
    height: 20px;
    width: 40px;
    background: black;
}
.box{
    width: 150px;
    height: 150px;
    background: darkred;
    position: relative;
    top: -100px;
}
.fa-magnifying-glass{
    font-size: 25px;
    background: white;
}