* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 600px;
    height: 800px;
    background: whitesmoke;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}
.block_A{
    margin: 2px;
    width: 100%;
    height: 40%;
    background: cornflowerblue;
}
.block_B{
    margin: 2px;
    width: 68.5%;
    height: 59%;
    background: cornflowerblue;
}
.block_C{
    margin: 2px;
    width: 30%;
    height: 59%;
    background: cornflowerblue;
}
